.cu-logo {
    font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
    font-weight: bolder;
    color: white;
}

.cu-logo:hover {
    color: white !important;
}

.login-panel {
    margin-top: 20px;
}

/*
Firefox 浏览器对 fieldset 元素设置了一些影响 width 属性的样式，导致响应式
表格出现问题。除非使用我们下面提供的针对 Firefox 的 hack 代码，否则无解：
*/
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.cu-panel {
    margin-bottom: 0!important;
}