.cu-logo {
    font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
    font-weight: bolder;
    color: white;
}

.cu-logo:hover {
    color: white !important;
}

.login-panel {
    margin-top: 20px;
}